In [3]:
import pandas as pd
import seaborn as sns

In [4]:
tips = sns.load_dataset('tips')

In [5]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.2 KB

In [6]:
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [7]:
# convert to a string (from category)
tips['sex_str'] = tips['sex'].astype(str)

In [8]:
tips.head()

   total_bill   tip     sex smoker  day    time  size sex_str
0       16.99  1.01  Female     No  Sun  Dinner     2  Female
1       10.34  1.66    Male     No  Sun  Dinner     3    Male
2       21.01  3.50    Male     No  Sun  Dinner     3    Male
3       23.68  3.31    Male     No  Sun  Dinner     2    Male
4       24.59  3.61  Female     No  Sun  Dinner     4  Female

In [9]:
# convert float to str
tips['total_bill_str'] = tips['total_bill'].astype(str)
tips.head()

   total_bill   tip     sex smoker  day    time  size sex_str total_bill_str
0       16.99  1.01  Female     No  Sun  Dinner     2  Female          16.99
1       10.34  1.66    Male     No  Sun  Dinner     3    Male          10.34
2       21.01  3.50    Male     No  Sun  Dinner     3    Male          21.01
3       23.68  3.31    Male     No  Sun  Dinner     2    Male          23.68
4       24.59  3.61  Female     No  Sun  Dinner     4  Female          24.59

In [10]:
tips.dtypes

total_bill         float64
tip                float64
sex               category
smoker            category
day               category
time              category
size                 int64
sex_str             object
total_bill_str      object
dtype: object

In [11]:
tips_sub_miss = tips.head(10)
tips_sub_miss.loc[[1, 3, 5, 7], 'total_bill'] = 'missing'
tips_sub_miss.head(10)

C:\Users\owner\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

  total_bill   tip     sex smoker  day    time  size sex_str total_bill_str
0      16.99  1.01  Female     No  Sun  Dinner     2  Female          16.99
1    missing  1.66    Male     No  Sun  Dinner     3    Male          10.34
2      21.01  3.50    Male     No  Sun  Dinner     3    Male          21.01
3    missing  3.31    Male     No  Sun  Dinner     2    Male          23.68
4      24.59  3.61  Female     No  Sun  Dinner     4  Female          24.59
5    missing  4.71    Male     No  Sun  Dinner     4    Male          25.29
6       8.77  2.00    Male     No  Sun  Dinner     2    Male           8.77
7    missing  3.12    Male     No  Sun  Dinner     4    Male          26.88
8      15.04  1.96    Male     No  Sun  Dinner     2    Male          15.04
9      14.78  3.23    Male     No  Sun  Dinner     2    Male          14.78

In [12]:
# will give u a error
tips_sub_miss['total_bill'].astype(float)

ValueError: could not convert string to float: 'missing'